@model ViewModels.ProudusserViewModel

@{
    ViewData["Title"] = "Update  actor";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a New Actor</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <dvi asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class=" form-group text-center" id="poster-container">
                        <img src="~/Images/@Model.Profile"class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="custom-file">
                        <input type="file" id="poster" class="custom-file-input" asp-for="ProudserImge" accept=".png,.jpg" />
                        <label class="custom-file-label mt-0" asp-for="ProudserImge"></label>
                        <span asp-validation-for="ProudserImge" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" id="txtName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bio" class="control-label"></label>
                        <input asp-for="Bio" id="txtBio" class="form-control" />
                        <span asp-validation-for="Bio" class="text-danger"></span>
                        <input type="hidden" id="hdID" asp-for="@Model.ID" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" id="btnUpdate" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                    <div>
                        <label id="lblmessage"></label>
                    </div>
                </dvi>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>

  


    </script>

    <partial name="_DisplayImage" />
}